# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
